@import '@/style/mixins.scss';

.wrapper__main-admin {
  display: grid;
  grid-template-rows: 5em 1fr;
  height: 100vh;
  width: 100vw;
  
  @include mediaMedium {
    grid-template-rows: 7em 1fr;
  }

  @include mediaLarge {
    grid-template-rows: 9em 1fr;
  }
}

.main-admin {
  display: grid;
  grid-template: 1fr 1px 1fr / none;
  grid-template-areas: 
    "specialsomeone" 
    "separator" 
    "notes";
  gap: 1em;
  margin: 2em 2em;
  
  @include mediaMedium {
    grid-template: none / 1fr 1px 1fr;
    grid-template-areas: "specialsomeone separator notes";
  }
  
  @include mediaXLarge {
    grid-template: none / 845px 1px 845px;
    grid-template-areas: "specialsomeone separator notes";
    justify-content: center;
  }
}
