@use "sass:color";

@use '@/style/colors' as l_color;
@use '@/style/mixins' as mixin;
@use '@/style/variables' as var;


.main {
  background: #666;
  min-height: 100vh;
}

.body {
  padding: 1em;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: l_color.$background;
  height: 90px;
  text-align: center;
  
  @include mixin.mediaMedium {
    height: 140px;
  }
}

.body-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  
  @include mixin.mediaMedium {
    flex-direction: row;
    justify-content: space-between;
  }

  p {
    color: l_color.$background;
  }
}

.filter {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  
  p {
    margin-right: 5px;
    font-weight: 400;
  }

  @include mixin.mediaMedium {
    margin-bottom: initial;
  }
}

.reload {
  height: 1.4em;
  margin-left: .5em;
  fill: l_color.$background;
  cursor: pointer;
  transition: transform 330ms ease-in-out;
  
  &:hover {
    fill: color.scale($color: l_color.$background, $lightness: 8%);
    transform: rotate(180deg);
  }
  
  &:active {
    fill: l_color.$background;
  }
}

.loading {
  color: l_color.$background;
}

.not-found {
  background-color: #ffccc7;
  padding: 1em;
  border-radius: 5px;
}

.notes {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  li {
    color: #000;
    background: #ffc;
    display: block;
    padding: .8em;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    transform: rotate(-6deg);
    transition: transform .15s linear;
    overflow: auto;
    margin: 1.7em;
    height: 15em;
    width: 15em;

    span {
      @include mixin.annotation;
      & {
        color: color.scale($color: l_color.$annotation-color, $lightness: 30%);
      }
    }
  }
  
  li:nth-child(even) {
    transform: rotate(4deg);
    position: relative;
    top: 5px;
    background: #cfc;
  }

  li:nth-child(3n) {
    transform: rotate(-3deg);
    position: relative;
    top: -5px;
    background: #ccf;
  }

  li:nth-child(5n) {
    transform: rotate(5deg);
    position: relative;
    top: -10px;
  }

  li:hover,
  li:focus{
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.25);
    position:relative;
    z-index:5;
  }
}
