@use '@/style/colors' as color;
@use '@/style/variables' as var;
@use '@/style/mixins' as mixin;

$delete-icon-size: calc(var.$body--font-size + 1rem);

.trash {
  cursor: pointer;
  height: 15px;
  height: $delete-icon-size;
  min-width: $delete-icon-size;
  width: $delete-icon-size;
  
  path {
    fill: color.$danger-color;
    opacity: .8;
  }
  
  @include mixin.mediaLarge {
    display: none;
  }
}
