@import '@/style/colors.scss';
@import '@/style/variables.scss';
@import '@/style/mixins.scss';

$delete-icon-size: calc($body--font-size + 1rem);

.trash {
  cursor: pointer;
  height: 15px;
  height: $delete-icon-size;
  min-width: $delete-icon-size;
  width: $delete-icon-size;
  
  path {
    fill: $danger-color;
    opacity: .8;
  }
  
  @include mediaLarge {
    display: none;
  }
}
