@use '@/style/mixins' as mixin; 
@use '@/style/variables' as var; 

.notes {
  grid-area: notes;

  h2 {
    text-align: center;
  }
}

.notes-list {
  list-style-type: none;
  padding: 0;
  margin-top: 1em;;

  span {
    @include mixin.annotation;
  }  

  li {
    margin-bottom: .7em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @include mixin.mediaLarge {
      &:hover {
        svg {
          display: block;
          position: absolute;
          right: 0;
        }
      }
    }
  }
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;

  @include mixin.mediaMedium {
    justify-content: flex-start;
  }
  
  p {
    margin-right: 5px;
  }
}

.divider {
  border-top: var.$border;
  margin-top: 1em;
}