@import '@/style/mixins.scss';

.special-someones {
  grid-area: specialsomeone;

  h2 {
    text-align: center;
  }

  select {
    width: 100%;
  }
}

.note-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;

  textarea {
    height: 6em;
    
    @include mediaMedium {
      height: 8em;
    }
  }

  p {
    margin-bottom: 1em;
  }

  button {
    @include mediaMedium {
      width: 9em;
    }
  }
}
