@import '@/style/variables.scss';
@import '@/style/mixins.scss';
@import '@/style/colors.scss';

.special-someones {
  grid-area: specialsomeone;

  h2 {
    text-align: center;
  }

  select {
    width: 100%;
  }
}

.special-someone-dropdown-wrapper {
  margin-bottom: 1em;
}

.annotation {
  text-align: right;
  margin-top: .3em;
  font-size: calc($body--font-size - .2rem);
  color: $annotation-color;
  
  @include mediaMedium {
    font-size: calc($body--font-size_medium - .2rem);
  }
  
  @include mediaLarge {
    font-size: calc($body--font-size_large - .3rem);
  }
}

.note-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;

  textarea {
    height: 6em;
    
    @include mediaMedium {
      height: 8em;
    }
  }

  p {
    margin-bottom: 1em;
  }

  button {
    @include mediaMedium {
      width: 9em;
    }
  }
}
