@use '@/style/mixins' as mixin;
@use '@/style/variables' as var;

.separator {
  grid-area: separator;
  border-bottom: var.$border;
  
  @include mixin.mediaMedium {
    border-bottom: 0px;
    border-left: var.$border;
  }
}

.special-someone-dropdown-wrapper {
  margin-bottom: 1em;
}
