@import '@/style/mixins.scss';
@import '@/style/variables.scss';

.separator {
  grid-area: separator;
  border-bottom: $border;
  
  @include mediaMedium {
    border-bottom: 0px;
    border-left: $border;
  }
}

.special-someone-dropdown-wrapper {
  margin-bottom: 1em;
}
