@use '@/style/mixins' as mixin;

#form-wrapper {
  width: 90%;
  
  @include mixin.mediaMedium {
    width: 50%;
  }
}

#login-form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-bottom: .5rem;

  h1 {
    text-align: center;
  }
}
