main {
  display: grid;
  place-items: center;
  background-color: lighten($color: papayawhip, $amount: 5);
  height: 100vh;
  color: #434343;
}

input, button {
  border-radius: .2rem;
  border: 1px solid gray;
}

button {
  background-color: #bae7ff;
  border-color: darken($color: #bae7ff, $amount: 5);
  color: #262626;
  cursor: pointer;

  &:hover {
    background-color: darken($color: #e6f7ff, $amount: 1);
    border-color: darken($color: #e6f7ff, $amount: 5);

  }
}

a {
  color: #4096ff;

  &:hover {
    color: #69b1ff;
  }
}

#error-list {
  color: #a8071a;
}
