@use "sass:color";

@use './mixins' as mixin;
@use './variables' as var;
@use './colors' as l_color;

body {
  color: l_color.$font-color;
  letter-spacing: 0.07rem;
  font-size: var.$body--font-size;
}

h1 {
  font-size: 2.7rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1em;
}

h3 {
  font-size: 1.8rem;
}

@include mixin.mediaMedium {
  body {
    font-size: var.$body--font-size_medium;
  }
  h1 {
    font-size: 3.5rem;
  }
  
  h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5em;
  }
  
  h3 {
    font-size: 2rem;
  }
}

@include mixin.mediaLarge {
  body {
    font-size: var.$body--font-size_large;
  }
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.9rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

input, button, textarea, select {
  font: inherit;
  padding: .5rem 1rem;
  margin: 0;
  border: 1px solid gray;
  border-radius: .2rem;
}

input, textarea, select {
  background-color: #fff;

  &:disabled {
    background-color: l_color.$button-disabled;
  }
}

a {
  color: l_color.$link-color;
  
  &:hover {
    color: l_color.$link-color-hover;
  }
}


.button--primary {
  background-color: l_color.$primary-color;
  border-color: color.scale($color: l_color.$primary-color, $lightness: 5%);
  color: l_color.$button-font-color;
  cursor: pointer;
  
  &:hover {
    background-color: l_color.$primary-color-hover;
    border-color: color.scale($color: l_color.$primary-color-hover, $lightness: 5%);
  }
  
  &:disabled {
    background-color: l_color.$button-disabled;
    border-color: color.scale($color: l_color.$button-disabled, $lightness: 5%);
    cursor: not-allowed;
  }
}

.error-list {
  color: l_color.$danger-color;
  display: flex;
  justify-content: center;
  
  ul {
    list-style-type: none;

    li {
      margin-bottom: .2em;
    }
  }
}

.annotation {
  text-align: right;
  margin-top: .3em;

  @include mixin.annotation;
}
