@import './mixins.scss';
@import './variables.scss';
@import './colors.scss';

body {
  color: $font-color;
  letter-spacing: 0.07rem;
  font-size: $body--font-size;
}

h1 {
  font-size: 2.7rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1em;
}

h3 {
  font-size: 1.8rem;
}

@include mediaMedium {
  body {
    font-size: $body--font-size_medium;
  }
  h1 {
    font-size: 3.5rem;
  }
  
  h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5em;
  }
  
  h3 {
    font-size: 2rem;
  }
}

@include mediaLarge {
  body {
    font-size: $body--font-size_large;
  }
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.9rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

input, button, textarea, select {
  font: inherit;
  padding: .5rem 1rem;
  margin: 0;
  border: 1px solid gray;
  border-radius: .2rem;
}

input, textarea, select {
  background-color: #fff;

  &:disabled {
    background-color: $button-disabled;
  }
}

a {
  color: $link-color;
  
  &:hover {
    color: $link-color-hover;
  }
}


.button--primary {
  background-color: $primary-color;
  border-color: darken($color: $primary-color, $amount: 5);
  color: $button-font-color;
  cursor: pointer;
  
  &:hover {
    background-color: $primary-color-hover;
    border-color: darken($color: $primary-color-hover, $amount: 5);
  }
  
  &:disabled {
    background-color: $button-disabled;
    border-color: darken($color: $button-disabled, $amount: 5);
    cursor: not-allowed;
  }
}

.error-list {
  color: $danger-color;
  display: flex;
  justify-content: center;
  
  ul {
    list-style-type: none;

    li {
      margin-bottom: .2em;
    }
  }
}

.annotation {
  text-align: right;
  margin-top: .3em;
  font-size: calc($body--font-size - .2rem);
  color: $annotation-color;
  
  @include mediaMedium {
    font-size: calc($body--font-size_medium - .2rem);
  }
  
  @include mediaLarge {
    font-size: calc($body--font-size_large - .3rem);
  }
}
