@use "sass:color";

$primary-color: #bae7ff;
$primary-color-hover: #E1F5FF;
$font-color: #434343;
$danger-color: #a8071a;
$button-font-color: #262626;
$link-color: #4096ff;
$link-color-hover: #69b1ff;
$background: color.adjust($color: papayawhip, $lightness: 5%);
$annotation-color: color.adjust($color: $font-color, $lightness: 40%);
$button-disabled: #f0f0f0;
