$primary-color: #bae7ff;
$primary-color-hover: #E1F5FF;
$font-color: #434343;
$danger-color: #a8071a;
$button-font-color: #262626;
$link-color: #4096ff;
$link-color-hover: #69b1ff;
$background: lighten($color: papayawhip, $amount: 5);
$annotation-color: lighten($color: $font-color, $amount: 40%);
