@use '@/style/breaks' as break;
@use '@/style/variables' as var; 
@use '@/style/colors' as color; 

@mixin mediaSmall {
  @media (min-width: #{break.$media-small}) {
      @content;
  }
}

@mixin mediaMedium {
  @media (min-width: #{break.$media-medium}) {
      @content;
  }
}

@mixin mediaLarge {
  @media (min-width: #{break.$media-large}) {
      @content;
  }
}

@mixin mediaXLarge {
  @media (min-width: #{break.$media-x-large}) {
      @content;
  }
}

@mixin annotation {
  font-size: calc(var.$body--font-size - .2rem);
  color: color.$annotation-color;
  
  @include mediaMedium {
    font-size: calc(var.$body--font-size_medium - .2rem);
  }
  
  @include mediaLarge {
    font-size: calc(var.$body--font-size_large - .3rem);
  }
}
